/* Hero SCSS File  */


.cont h1 {
  font-size: 80px;
    margin-top: -54px;
}

.cont h2 {
    font-family: 'Josefin Sans', sans-serif;
}
.section-1 .cont h5 {
    font-family: 'Josefin Sans', sans-serif;
}
.section-1 {
  height: 100vh!important;
  background-repeat: no-repeat;
  -moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
  background-position: center;
	position: relative;
}
// .no-webp .section-1 {
//   background-image:url(../../dist/images/coyote_hills.JPG);
// }
// .webp .section-1 {
//   background-image:url(../../dist/images/webp/coyote_hills.webp);
// }
// .no-js .section-1 {
//   background-image:url(../../dist/images/coyote_hills.JPG);
// }