
* {
  padding: 1vmin;
  border-radius: 10px;
}
body {
  background-color: #6897bb;
  font-family: 'Lato', sans-serif;
}
.well {
  background: rgb(192, 214, 228);/*#c0d6e4;*/
}
.main-title{
  font-size: 14vmin;
}
.style-main{
  background-color: #afeeee;
}
.subheading {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
