
body {
  margin-top: 50px;
  text-align: center;
  background-image: url('http://res.cloudinary.com/dvozfehww/image/upload/v1473871490/asanoha-400px_fazcz0.png');
}
h1 {
font-family: 'Bungee Shade', cursive;
}
.controls {
  margin-bottom: 50px;
  margin: 0 auto;
  /*position: absolute;*/
  /*left: 50%;*/
  /*margin-right: -50%;*/
  /*transform: translate(-50%, -50%)*/
}
#quote {
   font-family: "Courier New", Courier, monospace;
}
#author {
  font-family: "Courier New", Courier, monospace;
}
blockquote {
  margin: 100px 0px 100px 0px;
}
.well {
  min-height: 500px;
  background-color: white;
}
a {
  color: inherit;
  /*background-color: */
  text-decoration: none;
  border: 1px solid #000;
  padding: 10px 14px;
  margin-right: 20px;
}
a:hover {
  text-decoration: none;
  color: #db2c2b;
  /*background-color: #f4f5f6;*/
}
a.btn-tweet:hover {
  color: #1da1f2;
}
