

// Vertically center anythings
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  // font-family: $primary-font;
  font-family: 'Source Sans Pro';
  color: $primary-color;
    padding: 2px;
    margin: 2px;
}
