h1 {
  font-size: 42px;
  font-family: $secondary-font;
  color: #000;
  margin-bottom: 20px;
}
p.headline-subtitle {
  font-size: 18px;
}
.portfolio-item {
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
}
.portfolio-item img {
  // transition: all 0.2;
  -webkit-transition: -moz-transform .3s ease-in-out;
-moz-transition: -webkit-transform .3s ease-in-out;
transition: transform .3s ease-in-out;
}
.portfolio-item:hover img {
  transform: scale(1.2,1.2);
  overflow: hidden;
}
.portfolio-item-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  color: #000;
  background: rgba(0,0,0,0);
  -webkit-transition: visibility, opacity 0.2s;
  // transition: visibility, opacity 0.8s;
  transition: visibility, background .2s;
}
.portfolio-item:hover .portfolio-item-wrapper{
  z-index: 11;
  // opacity: 1;
  visibility: visible;
  background: rgba(0,0,0,0.9);
}
.portfolio-item:hover .work-entry-title, .portfolio-item:hover .work-entry-cat {
  opacity: 1;
}
.portfolio-filters {
  padding-left: 0px;
  margin-bottom: 50px;
}
.headline-content {
  max-width: 50%;
  margin-bottom: 150px;
  margin-top: 150px;
}
.social {
  position: fixed;
  bottom: 30px;
  left: 0px;
  ul {
    list-style-type: none;
    li {
      margin-bottom: 30px;
      a {
        color: #000;

      }
    }
  }
}
#filters {
  list-style-type: none;
  padding-left:0px;
  li {
    display: inline-block;
    margin-right: 100px;
    a {
      color: $primary-color;
      text-decoration: none;
    }
  }
}
.work-entry-title {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  position:relative;
  top:15px;
  transition: all .5s cubic-bezier(0.4,.2,0,1) .2s;
}
.work-entry-cat {
  font-size: 14px;
  opacity: 0;
  color: $primary-color;
  position: relative;
  top:15px;
  transition: all .5s cubic-bezier(0.4,.2,0,1) .3s;
}
.work-entry-content {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

@media (max-width: 768px) {
  #hire-button {
    display: none;
  }
  .headline-content {
    max-width: 100%;
  }
}
