.main-image img {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  margin: 0 5px 5px 5px;
}
.footer {
  padding: 20px 5px 90px 5px;
  background-color: #000000;
}
.footer img.gn {
  /*margin_top: 30px;*/
}
.footer p {
  font-family: Lusitana,serif;
  font-style: normal;
  padding-top: 30px;
  text-shadow: 0 0 1px rgba(255,255,255,0.01);
  font-weight: normal;
  font-size: 23px;
  line-height: 30px;
  margin: 1em 0;
  color:#fff;
}
.footer p.cm {
  font-size:18px;
  line-height: 22px;
  margin-bottom: 8px;
}
.footer p.copyright {
  font-family: 'HelveticaNeueW01-45Ligh','Helvetica LT Std Light','Helvetica Neue LT Std',Helvetica;
  font-size: 14px;
  line-height: 16px;
  color: #c8c8c8;
  float: left;
  clear:both;
}
.footer h2 {
  font-family: 'HelveticaNeueW01-75Bold','HelveticaNeue Bold','Helvetica LT Std Bold',Helvetica;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color: #fff;
}
h3.hptitle {
  margin-left: 20px;
    margin-top: 6px;
    font-family: 'HelveticaNeueW01-75Bold','HelveticaNeue Bold','Helvetica LT Std Bold',Helvetica;
    font-weight: normal;
    font-style: normal;
    color: white;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 21px;
    height: 21px;
    margin-bottom: 10px;
}
h3.hptitle span {
  display: inline-block;
  padding: 2px 6px 0px 6px;
  line-height: 21px;
  background-color: black;
      box-sizing: border-box;
          margin-bottom: 5px;
}
h3.hptitle span.hplink {
  display: inline-block;
  padding: 2px 6px 3px 6px;
  line-height: 21px;
  background-color: white!important;
  color: #3379be;
  text-transform: none;
  font-style: italic!important;
  font-family: Lusitana,serif;
}
.hpheadline {
  padding-top: 10px;
  font-family: 'HelveticaNeueW01-75Bold','Helvetica Neue LT Std',Helvetica;
  color: black;
  font-size: 16px;
  background-color: white;
  text-align: left;
  width: 260px;
}
.hpblurb {
  float: left;
  padding-top: 10px;
  color: black;
  background-color: white;
  font-family: Lusitana,serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  height: 110px;
  overflow: hidden;
  display: block;
  width: 260px;
}
.hpunit {
  float: left;
  max-width: 300px;
  padding: 0 5px 5px 5px;
  margin: auto;
}
.outer {
  width: 100%;
  padding: 5px 40px 20px 40px;
  display: -webkit-inline-flex;
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
}
.navigation {
  width: 100%;
  position: fixed;
  background-color: #000000;
  color: #fff;
  height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    font-size: 16px;
    font-family: 'HelveticaNeueW01-45Ligh','Helvetica LT Std Light','Helvetica Neue LT Std',Helvetica;
    font-weight: normal;
    font-style: normal;
    z-index:999;
    overflow: hidden;
}
.navigation a {
  color: #fff;
  text-decoration: none;
}
.navigation a:hover {
    color: #666;
  }
.navigation ul li {
  list-style-type: none;
  display: inline;
  float: left;
  font-family: 'HelveticaNeueW01-45Ligh','Helvetica LT Std Light','Helvetica Neue LT Std',Helvetica;
}
.navigation ul li img {
  padding-left: 10px;
}
.navigation ul li.nav-r {
  float:right;
}.navigation ul li p{
  padding-left: 30px;
}
.navigation ul li.nav-r.sign-in {
  background-color:#3379be;
  float:right;
  padding-left: 0px;
  color: white;
  cursor: pointer;
  font-family: 'HelveticaNeueW01-75Bold','HelveticaNeue Bold','Helvetica LT Std Bold',Helvetica;
  font-weight: normal;
  font-style: normal;
  padding-right: 30px;
  margin-left: 10px;
  height: 40px;

}
.navigation ul li a {
  text-decoration: none;
  display: block;
}
