body {
    /*text-align: center;*/
    padding:100px 0px 0px 0px;
    z-index:0;
      background: #a3c1ad;
}
.navbar-default {
     background: #49796b;
}
.navbar-default .navbar-header a,
.navbar-default .navbar-collapse .navbar-nav a {
    color: floralwhite;
    background: #49796b;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
    background: #5f9ea0;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #a0d6b4 ;
    color:floralwhite;
}
.panelHeading {
  background: #a0d6b4;
    color: floralwhite;
}
.panel-body {
  background-color: #49796b;
  color: floralwhite;
}
.panel-body h2, p {
  color: floralwhite;
}
.affix {
  top:100px;
}
.nav-stacked a {
  color:gray;
}
.footer {
  text-align: center;
   color: floralwhite;
}
.footerRight {
  margin: 100px auto 0px auto;
  text-align: right;
    color: floralwhite;
}
.unstyle {
    text-decoration: none;
    color:floralwhite;
}
.unstyle:hover {
    text-decoration: none;
    color:floralwhite;
}
.unstyle:focus {
    text-decoration: none;
    color:floralwhite;
}
div blockquote {
  margin: 30px auto auto auto;
  color: floralwhite;
}
.heading {
  text-align: left;
  color: floralwhite;
}
div figcaption {
  color: floralwhite;
}
.textBody {
  background-color: #49796b;
  color: white;
}
