
.books {
  padding: 50px 0 0;
  .page-header {
      text-align: center;
  }
}
.books,
.books p {
  font-family: Open Sans;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0px;
  font-weight: 400;
}
.books_text {
  a:active,
  a:hover,
  a:link,
  a:visited {
      text-decoration: underline;
      color: #337ab7;
  }
}
.books__img {
  width: 200px;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
}
.books__description {
  text-align: center;
  margin-bottom: 60px;
}
.jumbotron_image__books-header {
    background: url(../images/books/books_header_bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
    height: 200px;
    padding-bottom: 50px;

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}