body {
  margin-top: 300px;
  text-align:center;

  background-image: url('../../images/diagonales_decalees.png');
  /*http://res.cloudinary.com/dvozfehww/image/upload/v1475181103/diagonales_decalees_kke8fx.png*/
}
.main {
  margin: 100px;
}
.bottomDiv {
  margin-top: 400px;
  position: relative;
}
.portfolioLink {
  margin: 20px;
  position:absolute;
  bottom:0;
  right:0;

}
h1, h2, p {
font-family: 'Alike Angular', serif;
}
