body {
  padding-bottom: 100px;

} 
h1 {
  text-align: center;
  margin: 100px auto 100px auto;
}
.jumbotron {
  padding: 50px 50px 50px 50px;
  background-color: yellow;
}
img {
  position: absolute;
}
.row {
  padding: 40px;
}
.window {
  width: 500px;
  height: 500px;
  border: solid black 1px;
}
#rightSide {
  left: 500px;
}
