
body {
  font-family: arial, sans-serif;
}
.footer-nav {
  min-width: 961px;
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  position: fixed;
  bottom: 0;
}
.footer-nav a {
  color:#666;
  text-decoration: none;
  cursor: default;
  font-size: small;
}
.footer-nav a.right-footer-link {
  float: right;
  padding-right: 27px;
}
.footer-nav a.left-footer-link {
  float: left;
  padding-left: 27px;
}
.nav {
  margin-top: 16px;
  padding-right: 30px;
  min-width: 961px;
}
.nav a.sign-in-button{
  margin-left: 15px;
  color: #fff;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  border-radius: 2px;
  font-family: arial,sans-serif;
  font-size: 13px;
  padding: 5px 12px;
}
.nav a {
  float: right;
  text-decoration: none;
  cursor: default;
  color: #222;
  font-size: 13;
}
.nav a img {
  padding-top: 2px;
  float: right;
  margin-right:
  vertical-align: middle;
}
.nav a:nth-child(3) {
  padding-top: 4px;
  padding-right: 15px;
  color: rgba(2,2,2,0.75);
}
.nav a:nth-child(4) {
  padding-top: 4px;
  padding-right: 15px;
  color: rgba(2,2,2,0.75);
}
.main-image {
  padding-top: 200px;
  text-align: center;
  min-width: 961px;
}
.main-image img{
  margin: 0 auto;
}
.main-search {
  min-width: 961px;
}
.search-bar {
  width: 100%;
  text-align: center;
}
.search-bar input {
  display: inline-block;
  width: 543px;
  padding: 5px;
  margin: 15px;
  height: 32px;
  background-image: url("../img/google-mic.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 32px;
  border: 1px solid #d9d9d9;
}
.search-buttons {
  width: 100%;
  text-align: center;
}
.search-buttons input{
  display: inpline-block;
  height: 36px;
  line-height: 27px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  align-items: flex-start;
}
