{% extends "base.html" %}
{% block content %}

<!-- Content Section -->
<section class="blog">
  <div class="jumbotron_image__blog-header">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="page-header">
          <h1>Articles</h1>
        </div>
        <div class="blog_text">
          <section class="blog_links">
            <div class="well well-lg">

              <!-- Blog Entries Column -->
              {% for post in post_list %}
              <div class="card mb-4">
                <div class="card-body">
                  <h2 class="card-title">{{ post.title }}</h2>
                  <p class="card-text text-muted h6 blog__date">{{ post.created_on|date:'m-d-Y' }} </p>
                  <p class="card-text">{{ post.preview }}</p>
                  <a href="{% url 'post_detail' post.slug  %}" class="">Read More &rarr;</a>
                </div>
              </div>
              {% endfor %}

            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}