{% extends 'base.html' %} {% block content %}

<section class="blog">
  <div class="jumbotron_image__blog-header">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="page-header">
          <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        </div>
        <div class="blog_text">
          <p class="text-muted">{{ post.created_on|date:'m-d-Y' }}</p>
          <p class="card-text ">{{ object.content | safe }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}