.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #eeba30;
  color: floralwhite;
}
.carousel {
  background:	#d3a625;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.navbar-inverse {
  background: 	#740001;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background:	#d3a625;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background:	#d3a625;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background:	#d3a625;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background:	#d3a625;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background:	#d3a625
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: 	#d3a625;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: 	#740001;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color:	#740001;
  color: #eeeeee;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
body {
  /*text-align: center;*/
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  right: 0px;
  position: absolute;
  bottom: 0px;
}
.displayImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.displayLogo {
  border-radius: 50%;
}
.reserveTableBtn {
   text-align: center;
   padding-top: 90px;
   padding-bottom: 90px;
}
