.mainSlider__inner_wrapper {
    color: black;
    padding: 100px 0 0;
} 

.mainSlider__inner_wrapper h1 {
    font-size: 80px;
    margin-top: 14vh;
    color: black;
    background-color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 2px;
    @media (max-width: 800px) {
        font-size:30px;
    }
} 

.mainSlider__inner_wrapper h2 {
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 2px;
    @media (max-width: 800px) {
        font-size: 20px;
    }
}
.mainSlider__inner_wrapper h5 {
    font-family: 'Josefin Sans', sans-serif;
    @media (max-width: 800px) {
        font-size: 12px;
    }
}
.section-1 {
  height: 100vh!important;
  background-repeat: no-repeat;
  -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  background-position: center;
    position: relative;
}

html, body {
    position: relative;
    height: 100%;
}

// Main Slider
.swiper-pagination-bullet-active {
    background: #eee;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50px;
}
.swiper-wrapper--main {
  
}
.swiper-container--main {
    width: 100%;
    height: 100%;
}
.swiper-slide--main {
    text-align: center;
    font-size: 18px;
    background: #fff;
    a {
        color: white;
        text-decoration: underline;
    }
}


.swiper-button-next--main {
    background:none;
    font-size:50px;
    color: white;
    font-family: fontello;
    &:before {
        content: '\e800';
        display:block;
    }
    &:hover {   
        color: rgb(226, 226, 226);
    }
}
.swiper-button-prev--main {
    background:none;
    font-size:50px;
    color: white;
    font-family: fontello;
    &:before {
        content: '\e801';
        display:block;
    }
    &:hover {   
        color: rgb(226, 226, 226);
    } 

}
.swiper-slide--main:nth-child(1) {
    /* background: url(../images/mainSlider1.JPG) center center no-repeat; */
    background-size: cover;
    .mainSlider__inner_wrapper {
        text-align: center;
        margin: 0 auto;
        @media (max-width: 800px) {
            margin: 0px 30px 0px;
            width: 100%;
            h2 {
                font-size: 20px;
                margin-top: 0px;
            }
        }
    }
}
.swiper-slide--main:nth-child(2) {
/* background: url(../images/mainSlider2.JPG) center center no-repeat; */
background-size: cover;
.mainSlider__inner_wrapper {
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    @media (max-width: 800px) {
        margin: 100px 30px 0;
        width: 100%;
    }
}
}
.swiper-slide--main:nth-child(3) {
//background: url(../images/mainSlider3.JPG) center center no-repeat;
background-size: cover;
background-position-y: 57%;
.mainSlider__inner_wrapper {
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    @media (max-width: 800px) {
        margin: 100px 30px 0;
        width: 100%;
    }
}
}

.swiper-slide {
align-items: normal;
justify-content: initial;
}

.mainSlider__list {
padding: 30px 20px;
background-color: $gray-bg;
overflow: scroll;
height: 300px;
margin: 20px auto 0;
display: block;

h3 {
  font-size: 18px;
}

ul li {
  text-align: left;

  a {
    color: #000000;
    font-size: 13px;
    font-family: Josefin Sans,sans-serif;
  }
}
}