.navbar-default{
  background-color: #698cbd;
}

.navbar-default .navbar-header .navbar-brand {
  color: black;
}
.navbar-default .navbar-nav li> a{
  color: black;
}
body {
  margin-top: 60px;
 background-color:  #d5feff;
  font-family: 'Lato', sans-serif;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row {
  display:flex; flex-wrap: wrap;
}
.well {
   background-color: 	 #698cbd;
  border-radius: 10px;
}
.jumbotron {
  background-color:	#698cbd;
}
.thumbnail{
  background-color:   #698cbd;
  border-radius: 10px;
}
.projectImg{
  border-radius: 10px;
/*  width: 200px;*/
  height: 120px !important;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.logo {
  border-radius: 10px;
}
.small-image{
  margin-bottom: 20px;
  border-radius: 10px;
}
.titles {
  margin-top: 100px;
  text-align: center;
}
