img.avatar {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 2px;
  margin: 20px;
}
.imgDescription h4{
  margin-top: 0px;
}
#about {
  padding-top: 0px;
}
.navbar-default{
  background-color: rgba(241,90,34,0.5);
  height: 50px;
}
.navbar-default .navbar-header .navbar-brand {
  color: black;
}
.navbar-default .navbar-nav li> a{
  color: black;
}
body {
  font-family: 'Alfa Slab One', cursive;
  background-color:  	#fbb03b;
}
.row {
  display:flex; flex-wrap: wrap;
}
.displayBox{
  background-color: rgb(187, 187, 187);
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  display:flex; flex-wrap: wrap;
  /*font-family: Verdana, Geneva, sans-serif;*/

    font-family: 'Josefin Sans', sans-serif;
}
.titles h2 {
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.cont{
    padding:300px 20px 100px 20px;
    text-align:center;
    color:#000;
    font-weight:bold;
}
.cont h1 {
  font-size: 80px;
}
.section-1{
  !important;height: 1000px;
    background-image:url(../images/sunMountain.jpeg);
    background-repeat: no-repeat;
    -moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	background-position: 50% 50%;
}
.section-2 {
    margin-top: 100px
  !important;height: 1000px;
    background-image:url(../images/bwWebDev.jpeg);
    background-repeat: no-repeat;
    -moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	background-position: 50% 50%;
}
.section-3 {
  !important;height: 1000px;
    /*background-image:url(../images/nepalMountains.jpeg);*/
    background-repeat: no-repeat;
    -moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	background-position: 50% 50%;
}
.imgWrap {
  position: relative;
  height: auto;
  width: auto;
  overflow: auto;
}
.imgWrap img {
   height: 100%;
   width: auto;
}
.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.82);
  color: #fff;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  /*font-family: 'Varela Round', sans-serif;*/

  font-family: 'Josefin Sans', sans-serif;
  -webkit-transition: visibility opacity 0.2s;
  padding: 14px 18px;
}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
.socialMedia {
  margin-bottom: 200px;
}
.socialMedia a {
  color: #f15a22
}
a {
  margin: 0 auto;
}
#about .displayBox {
  display: table;
  text-align: center;
}
 .textBox {
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
    /*font-family: 'Varela Round', sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
}
#about .titles h2{
  margin-top: 120px;
  color: #f15a22
}
#contact .titles h2{
  color: #f15a22
}
.portfolio-wrapper {
  overflow: hidden;
  width: 100%;
}
.portfolio-wrapper .button, .portfolio-wrapper .button:hover {
  background-color: rgba(0, 0, 0, 0.82);
    color: #fff;
    padding: 3px 8px;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 3px;
}
.portfolio-wrapper  ul {
  list-style: none;
  padding-left: 0px;
}
.portfolio-wrapper  ul li.portfolio-item {
  width: 33.33%;
  display: inline;
  position: relative;
  float: left;
}
.portfolio-wrapper  ul li.portfolio-item .imgWrap {
  position: absolute;
  background: rgba(54,54,54,.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: visibility, opacity 1s;
  -webkit-transition: visibility, opacity 1s;
}
.portfolio-wrapper  ul li.portfolio-item:hover  .imgWrap{
  visibility: visible;
  opacity: 1;
  padding-top:18%;
}

  /* Media Quaries */

@media only screen and ( max-width: 568px ) {
  .cont h1 {
      font-size: 46px;
    }
    .cont h2 {
      font-size: 30px;
    }
    .portfolio-item {
      width: 100%;
      height: auto;
      float: left;
    }
  .titles h2 {
      font-size: 34px;
  }
  .textContent {
    font-size: 16px;
  }
  .portfolio-wrapper  ul li.portfolio-item {
    width: 100%;
  }
}
