<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="ABC Construction Inc." description="Your go to construction company">

  <title>ABC Construction Inc.</title>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  <!-- <script src="../../bower_components/jquery/dist/jquery.min.js"></script> -->

  <!-- Include all compiled plugins (below), or include individual files as needed -->

  <!-- <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link href="../../bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
  <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->

      <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
      <script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <!-- <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"> -->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

      <script type="text/javascript" src="scripts/myscripts.js"></script>
      <link rel="stylesheet" href="css/mystyles.css">


</head>

<body>



    <!--
    Modals
  -->
  <div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close hide-login-modal">&times;</button>
          <h4 class="modal-title">Free Estimate</h4>
        </div>
        <div class="modal-body">

          <form class="form-inline" role="search">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">Email address</label>
              <input type="email" class="form-control input-sm" id="exampleInputEmail3" placeholder="Email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword3">Password</label>
              <input type="password" class="form-control input-sm" id="exampleInputPassword3" placeholder="Password">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-info">Sign in</button>

            <button type="button" class="btn btn-default btn-sm hide-login-modal"
            >Cancel</button>

          </form>

        </div>
      </div>
    </div>
  </div>

  <!--
  Navigation Bar
  -->

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle=
        "collapse" data-target="#navbar" aria-expanded="false" aria-controls=
        "navbar">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="img/abcLogo.png"
        class="displayLogo" height=30 width=30></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html"><span
            class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
          </li>
          <li><a href="aboutus.html"><span class="glyphicon glyphicon-info-sign"
            aria-hidden="true"></span> About</a></li>
            <li><a href="services.html"><span class="glyphicon glyphicon-list-alt"
              aria-hidden="true"></span> Services</a></li>
              <li class="active"><a href="contactus.html"><span class="glyphicon glyphicon-envelope"
                aria-hidden="true"></span> Contact</a></li>
              </ul>

              <!-- Login Modal Activation Button -->

              <ul class="nav navbar-nav navbar-right">
                <li><a id="open-login-modal">
                  <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>



  <header class="jumbotron">

    <!--
    Jumbotron
  -->

  <div class="container">
    <div class="row row-header">
      <div class="col-xs-12 col-sm-8">
        <h1>ABC Construction Inc. </h1>
        <p style="padding:40px;"></p>
        <p>Founded in 1994, ABC Construction Inc. operates with
          the goal to provide residential and commercial properties.
         From roofing, siding, to
           carpentry, clients can expect nothing less than the best
           results from working with ABC Construction Inc.</p>

        </div>
        <div class="col-xs-12 col-sm-2">
          <p style="padding:20px;"></p>
          <img src="img/abcLogo.png" class="img-responsive displayLogo">
        </div>
        <div class="col-xs-12 col-sm-2 reserveTableBtn">
          <!-- Reserve Table Button -->
          <!-- Removed data-* attributes from reserve button : data-toggle="modal"
          data-target="#reservationModal" to enable manual open of modal function -->
          <a id="open-reservation-modal" type="button" class="btn btn-warning btn-block"
          >Free Estimate</a>
        </div>
      </div>
    </div>

  </header>

  <!-- Content Begins -->



    <div class="container" ng-controller="ContactController">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">Contact Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Contact Us</h3>
               <hr>
            </div>
        </div>

        <div class="row row-content">
           <div class="col-xs-12">
              <h3>Location Information</h3>
           </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                   <h5>Our Address</h5>
                   <address>
                     321, Washington Road<br>
                     Springfield, Alaska<br>
                     United States<br>
                     <i id="847 555 7654" class="fa fa-phone"></i>: +847 555 7654<br>
                     <i class="fa fa-fax"></i>: +847 5555 1234<br>
                     <i class="fa fa-envelope"></i>: <a href=
                     "mailto:abcConstruction@construction.net">abcConstruction@construction.net
                   </a>
                 </address>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                <h5>Map of our Location</h5>
            </div>
            <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                <div class="btn-group" role="group" aria-label="...">
                    <a type="button" class="btn btn-primary" href="tel:+8475557654"><i class="fa fa-phone"></i> Call</a>
                    <a type="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                    <a type="button" class="btn btn-success" href="mailto:abcConstruction@construction.net"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
        </div>

        <div class="row row-content">
           <div class="col-xs-12">
              <h3>Send us your Feedback</h3>
           </div>
            <div class="col-xs-12 col-sm-9" ng-controller="FeedbackController">

<!-- Disables HTML5 form validation -->
                  <form class="form-horizontal" name="feedbackForm"
                  ng-submit="sendFeedback()" novalidate>

                    <div class="form-group"
  ng-class="{ 'has-error' : feedbackForm.firstname.$error.required && !feedbackForm.firstname.$pristine }">
                        <label for="firstname" class="col-sm-2 control-label">
                          First Name</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstname"
                        name="firstname" placeholder="Enter First Name"
                        ng-model="feedback.firstName" required>
                        <!-- <span
  ng-show="feedbackForm.firstname.$error.required && !feedbackForm.firstname.$pristine"
  class="help-block">Your First name is required.</span> -->
                        </div>
                    </div>


                    <div class="form-group" ng-class="{ 'has-error' : feedbackForm.lastname.$error.required && !feedbackForm.lastname.$pristine }">
                        <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastname"
                            name="lastname" placeholder="Enter Last Name"
                            ng-model="feedback.lastName" required>
                            <!-- <span ng-show="feedbackForm.lastname.$error.required && !feedbackForm.lastname.$pristine" class="help-block">Your Last name is required.</span> -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="telnum" class="col-sm-2 control-label">Contact Tel.</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <div class="input-group">
                                <div class="input-group-addon">(</div>
                                    <input type="tel" class="form-control"
                                    id="areacode" name="areacode"
                                    placeholder="Area code" ng-model="feedback.tel.areaCode">
                                <div class="input-group-addon">)</div>
                            </div>
                        </div>
                        <div class="col-xs-7 col-sm-6 col-md-7">
                          <input type="tel" class="form-control" id="telnum"
                          name="telnum" placeholder="Tel. number" ng-model="feedback.tel.number">
                        </div>
                    </div>

                    <div class="form-group"
  ng-class="{ 'has-error has-feedback' : feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine }">
                        <label for="emailid" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="emailid"
                            name="emailid" placeholder="Email" ng-model="feedback.email" required>
                            <span ng-show="feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine"
                            class="glyphicon glyphicon-remove form-control-feedback"
                            aria-hidden="true"></span>
                        <!-- <span ng-show="(feedbackForm.emailid.$invalid ||
                                        feedbackForm.emailid.$error.required) &&
                                        !feedbackForm.emailid.$pristine"
                             class="help-block">Enter a valid email address.</span> -->
                        </div>
                    </div>
                    <!-- SELECT OPTION -->
                    <div class="form-group" ng-class="{ 'has-error' : invalidChannelSelection }">
                       <div class="checkbox col-sm-5 col-sm-offset-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="approve" value=""
                                ng-model="feedback.agree">
                                <strong>May we contact you?</strong>
                            </label>
                        </div>

                        <div class="col-sm-3 col-sm-offset-1" ng-show="feedback.agree">
                            <select class="form-control"
                            ng-model="feedback.mychannel"
                               ng-options="channel.value as channel.label for channel in channels">
                                <option value="">Tel. or Email?</option>
                            </select>
                            <!-- <span ng-show="invalidChannelSelection"
                            class="help-block">Select an option.</span> -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="feedback" class="col-sm-2 control-label">Your Feedback</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="feedback"
                            name="feedback" rows="12" ng-model="feedback.comments">
                          </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                             <button type="submit" class="btn btn-primary"
                             ng-disabled="feedbackForm.$invalid">Send Feedback
                           </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-3">

          </div>
       </div>

    </div>

    <footer class="row-footer">
      <div class="container" id="contact">
        <div class="row">
          <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
            <h5>Links</h5>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Menu</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-5">
            <h5>Our Address</h5>
            <address>
              321, Washington Road<br>
              Springfield, Alaska<br>
              United States<br>
              <i id="852 1234 5678" class="fa fa-phone"></i>: +847 555 7654<br>
              <i class="fa fa-fax"></i>: +847 5555 1234<br>
              <i class="fa fa-envelope"></i>: <a href=
              "mailto:abcConstruction@construction.net">abcConstruction@construction.net
            </a>
          </address>
        </div>
        <div  class="nav navbar-nav" class="col-xs-6 col-sm-4">
          <div style="padding: 40px 10px;">
            <a class="btn btn-social-icon btn-google-plus" href=
            "http://google.com/+"><i class="fa fa-google-plus"></i>
          </a>
          <a class="btn btn-social-icon btn-facebook" href=
          "http://www.facebook.com/profile.php?id="><i class=
          "fa fa-facebook"></i></a>
          <a class="btn btn-social-icon btn-linkedin" href=
          "http://www.linkedin.com/in/"><i class=
          "fa fa-linkedin"></i></a>
          <a class="btn btn-social-icon btn-twitter" href=
          "http://twitter.com/"><i class=
          "fa fa-twitter"></i></a>
          <a class="btn btn-social-icon btn-youtube" href=
          "http://youtube.com/"><i class=
          "fa fa-youtube"></i></a>
          <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
        </div>
      </div>
      <div class="col-xs-12">
        <p style="padding:10px;"></p>
        <p align=center>© Copyright 2016 ABC Construction Inc.</p>
      </div>
    </div>
  </div>
</footer>



<!-- build:js scripts/main.js -->
    <!-- <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script> -->
<!-- endbuild -->

</body>

</html>
