
* {
  box-sizing: border-box;
}
body {
  background-color: #000;
}
.body-container {
  background:#333 url("../img/background.jpeg") repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  min-height: 487px;
  height: 60vh;
}

.directory {
  min-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-bottom: 1px solid #66696a;
  padding-bottom: 25px;
}
.directory h3 {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  margin-right: 5px;
  color: #ccc;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline
}
.directory ul {
  /*padding-left: 0;*/

}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 25px 0 0;
}
.footer form.name-search {
  display: flex;
  align-items: center;
  color: #fff;
}
.footer form.name-search h3 {
  font-size: 13px;
  font-weight: bold;
  line-height: 17px;
  color: #ccc;
  padding-right: 5px;
  margin: 0;
  border: 0;
  vertical-align: baseline;
}
.footer form.name-search input {
  border-radius: 2px;
  padding: 5px 6px 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
  border: 1px solid #c1c1c1;
  font-size: 13px;
  color: #333;
  width: 200px;
  margin-right: 12px;
}
.footer form.name-search input.search {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  text-decoration: none !important;
  text-align: center;
  width: auto;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  border-radius: 3px;
  padding: 0 10px;
  height: 26px;
  line-height: 24px;
  box-sizing: border-box;
  font-size: 12px;
  color: #444;
  background-color: #f2f2f2;
  border-color: #a7a7a7;
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%,#e9e9e9 32%,#d8d8d8 74%,#d1d1d1 100%);
}
.links-container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  padding: 0 0 20px;
}
.links-container .links {
  width: 48%;
  margin-right: 2%;
  margin-top: 30px;
}
.links-container h3{
  font-size: 13px;
  font-weight: bold;
  line-height: 17px;
  color: #ccc;
  margin: 0;
  padding: 0;
  border: 0;
}
.links-container ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.links-container ul li{
  display: inline;
  padding-right: 5px;
  margin: 2px 0px 0 0;
  border-right: 1px solid #66696a;
}
.links-container li:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
.links-container a {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  text-decoration: none;
  color: #ccc;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.links-container a:hover {
  text-decoration: underline;
}
img {
  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.3s; /* Firefox < 16 */
  -ms-animation: fadein 0.3s; /* Internet Explorer */
  -o-animation: fadein 0.3s; /* Opera < 12.1 */
  animation: fadein 0.3s;
}
.input-field {
  width: 400px;
  padding: 15px 30px 30px;
  background-color: #eee;
  margin: 10px 0;
}
.input-field label {
  font-size: 12px;
  line-height: 14px;
  color: #66696a;
  margin-bottom: 2px;
  display: block;
  font-weight: normal;
}
.input-field input {
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #434649;
  padding: 0 0 0 6px;
  border: 1px solid #BFBFBF;
  height: 32px;
  width: 100%;
  margin-bottom: 15px;
}
.input-field input.join-now {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  text-decoration: none !important;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  border-radius: 3px;
  padding: 0 15px;
  height: 34px;
  line-height: 32px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
  background-color: #f6e312;
  border-color: #e9ac1a;
  background-image: -webkit-linear-gradient(top, #f6e312 0%,#f9c80d 100%);
}
.input-field h1.title {
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
  color: #000;
  text-align: center;
  margin: 0 0 13px;
  line-height: 24px;
}
.input-field h2.subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  text-align: center;
  margin: 0 0 18px;
  line-height: 18px;
}
.input-field span.agreement {
  font-size: 12px;
  line-height: 14px;
  color: #66696a;
  text-align: center;
  display: block;
  margin-bottom: 15px;
}
.input-field span.agreement a {
  color: #000;
  text-decoration: none;
}
.input-field span.agreement a:hover {
  color: #006fa6;
  text-decoration: none;
}
.legal-nav {
  padding: 15px 0;
  background: #000;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #F2F2F2;
}
.legal-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  list-style: none;
  margin: 0;
}
.legal-nav ul li {
  margin: 0 0 0 20px;
}
.legal-nav img {
  margin-top: -3px;
  margin-right: 4px;
}
.legal-nav li a {
  color: #F2F2F2;
}
.navigation {
  width: 100%;
  height: 70px;
  background-color: #333;
}
.navigation a {
  font-size: 12px;
  line-height: 14px;
  color: #006fa6;
  font-weight: normal;
  text-decoration: none;
  color: #ccc;
  left: 212px;
  position: absolute;
  top: 45px;
}
.navigation h1 {
  padding-top: 20px;
  margin: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.navigation form {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: right;
}
.navigation input {
  box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
  border: 1px solid #c1c1c1;
  font-size: 13px;
  width: 200px;
  display: inline-block;
  margin: 10px 12px 0 0;
  background: #fdfdfd;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 5px 6px 4px;
  font-family: Helvetica,Arial,sans-serif;
  line-height: normal;
  font: 12px BlinkMacSystemFont;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  display: inline-block;
  margin: 10px 12px 0 0;
  background: #fdfdfd;
  vertical-align: middle;
}
.navigation input.button-gray {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%,#e3e3e3 13%,
    #d7d7d7 32%,#b9b9b9 71%,#a9a9a9 100%);
    opacity: 0.6;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    width: auto;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    border-radius: 3px;
    padding: 0 10px;
    height: 26px;
    line-height: 24px;
    box-sizing: border-box;
    font-size: 12px;
    color: #444;
    border-color: #a7a7a7;
    margin: 10px 0 0;
  }
  .navigation .password-wrapper {
    width: 200px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 100%;
    margin: 0 auto;
  }

  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
