body {
  background-color: #fff;
}

.articles-title h2 {
  margin: 0 0 0.9em;
  line-height: 1.5em;
  font: bold 24px/1.2em Helvetica Neue, Helvetica, sans-serif;
  color: #222222;
}
#posters-sale {
  max-width: 483px;
  height: auto;
}
.twitter-feed a {
  font: bold 24px/1.2em Helvetica Neue, Helvetica, sans-serif;
  color: #222222;
  text-decoration: none;
  text-align: center;
  margin-top: 0.3em;
  margin: 0 0 0.5em;
  line-height: 1.5em;
}
.columnII a {
  font: bold 24px/1.2em Helvetica Neue, Helvetica, sans-serif;
  color: #222222;
  text-decoration: none;
  text-align: center;
  margin-top: 0.3em;
  margin: 0 0 0.5em;
  line-height: 1.5em;
}
#copyright {
  color: #ed1b25!important;
  clear:both;
  float:right;
  padding-bottom: 40px;
}
#footer {
  background-color: #000000;
  color: #fff;
}
#footer p {
  color: rgb(255,255,255);
  font: normal 13px/1.5em Helvetica Neue, Helvetica, sans-serif;
  margin-bottom: 15px;
}
#footer a {
  color: #ed1b25;
  font: normal 13px/1.5em Helvetica Neue, Helvetica, sans-serif;
  /*margin-bottom: 15px;*/
  text-decoration: none;
  line-height: 22px;
}
#footer input{
  display: block;
  margin: 0 auto;
}
#footer .footer-section {
  padding: 25px 30px 20px 30px;
}
#img-change {
  width: auto;
  overflow: hidden;
  height: auto;
}
#main {
  padding-left: 1.618em;
  padding-right: 1.618em;
  padding-top: 1.5em;
}
#header {
  height: 150px;
  background-color: #000000;
}
.header-images {
  height: 150px;
  min-width: 992px;
  background-color: #000000;
  overflow: hidden;
}

.list-wrapper {
  display: inline-block;
}
.list-wrapper {
  text-align: center;
  height: 40px!important;
  background-color: #000000;
}
ul.nav.navbar-nav {
  text-align: center;
  height: 40px!important;
  background-color: #000000;
}
.navbar {
  text-align: center;
  height: 40px!important;
  background-color: #000000;
  min-height: 40px!important;
  margin-bottom: 0px!important;
  border-radius: 0px!important;
}
#nav-container {
  text-align: center;
  height: 40px;
  background-color: #000000;
}
#nav-container ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;

}
#nav-container ul li {
  /*display: inline;*/
  float: left;
}
#nav-container ul li a {
  color: #fff;
  display: block;
  padding: 0px 18px 0px 18px;
  line-height: 39px;
  font-weight: normal;
  height: 39px;
  vertical-align: baseline;
  text-align: left;
  width: auto;
  display: block;
  font-size: 16px;
  border-radius: 0 !important;
}
#nav-container ul li a:hover{
  background-color: #fff;
  color: #ed1b25;
  text-decoration: none;
}
.navbar .dropbtn {

}
.navbar .dropdown-section1 {
  background-color: #fff;
  color: #000000;
  /*display: none;*/
  position: absolute;
  overflow:auto;
}
.navbar .dropdown-menu .dropdown-section1 a {
  background-color: #fff;
  color: #222222;
}
.news-list {
  float: right;
}
.news-list li {
  float:left;
  list-style-type: none;
}

.news-tile a.news-image {
  display: block;
  background-size: cover;
  background-position: center;
  height: 170px;
  width: 295px;
  text-decoration: none;
}
.news-content {
  padding: 10px 20px;
  background-color: #e8e9f0;
  width: 295px;
  height: 230px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.news-content h3 {

}
.news-content a {
  color: #ed1b25;
}
.news-content a:hover {
  text-decoration: underline;
  color: #000000;
}
.news-content p.news-catagory {
  font: 300 15px/1.5em Helvetica Neue, Helvetica, sans-serif;
  color: #555555;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold !important;
  font-size: 0.75em !important;
  margin: 0 0 1.2em;
}
.news-content .news-excerpt {
  font-size: 0.85em!important;
  color: #555555;
  font: 300 15px/1.5em Helvetica Neue, Helvetica, sans-serif;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.main-image img {
  width: 100%;
  height: auto;
  position: relative;
}
.main-image h2, .main-image h3, .main-image a {
  position: relative;
  width: 100%;
  background: #000000;

}
.main-image a {
  display: none;
}
.main-image h2 {
  padding: 20px 0 0 0;
  margin: 0 0 0 0;
  font: normal 50px/1em "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
}
.main-image h3 {
  padding: 0 0 20px 0;
  margin: 0;
  color: #fff;
  font: bold 18px/1.2em Helvetica Neue, Helvetica, sans-serif;
  background: #000000;

}
.main-image a {
  display: none;
}
.sponsors a {
  font: 300 15px/1.5em Helvetica Neue, Helvetica, sans-serif;
  color: #ed1b25;
  display: none;
}
/*
@media (min-width:766px) {
.main-image img {
width: 100%;
height: auto;
position: relative;
}
.main-image h2 {
position: absolute;
top: 200px;
left: 20px;
width: 50%;
background: rgba(0,0,0,0.7);
}

.main-image .title {
position: absolute;
top:190px;
left: 0px;
height: 100%;
width: 50%;
background: rgba(0,0,0,0.7);

}*/

/*.main-image h2 span{
padding: 20px;
background: rgba(0,0,0,0.7);
}
.main-image h3 {
position: absolute;
top: 300px;
left: 20px;
width: 50%;
background: rgba(0,0,0,0.7);
}
.main-image h3 span{
padding: 20px;
background: rgba(0,0,0,0.7);
}
.main-image a {
display: block;
position: absolute;
top: 400px;
left: 20px;
width: 50%;
background: rgba(0,0,0,0.7);
}
.main-image a:nth-child(2) {
display: block;
position: absolute;
top: 440px;
left: 20px;
width: 50%;
}
.main-image a:nth-child(3) {
display: block;
position: absolute;
top: 460px;
left: 20px;
width: 50%;
}
.main-image a span {
padding: 20px;
background: rgba(0,0,0,0.7);
}*/
@media (min-width:1025px) {

}
